.ragistrationButton{
    background-color: transparent;
    width: 310px;
}
.loginButton{
    background-color: rgb(66, 190, 212);
    width: 100px;
    height: 40px;
    border: 0px;
    border-radius: 1000px;
    color: white;
    font-size: 17px;
    font-weight: 550;
    margin-top: 20px;
    margin-left: 10px;
}

#id_loginButton{
    background-color: #0384c5;
    color: white;
}

.siginButton{
    background-color: rgb(255, 255, 255);
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    border: 2px solid rgb(66, 190, 212);
    border-radius: 1000px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 550;
    margin-top: 20px;
    margin-left:20px;
}

#id_siginButton{
    background-color: white;
    color: rgb(0, 0, 0);
    border: 2px solid #0384c5;
}

.loginButton:hover{
    background-color: rgb(66, 212, 207);
    width: 100px;
    height: 40px;
    border: 0px;
    border-radius: 1000px;
    color: white;
    font-size: 17px;
    font-weight: 550;
    margin-top: 20px;
    margin-left: 10px;
}

.siginButton:hover{
    background-color: rgb(66, 190, 212);
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    border: 2px solid rgb(66, 190, 212);
    border-radius: 1000px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 550;
    margin-top: 20px;
    margin-left: 20px;
}