
.header{
    background-color: rgb(255, 254, 254);
   
    text-align: center;
    display: flex;
    overflow: hidden;
    position: fixed;
    top: 0;
    min-width:900px;        /* Suppose you want minimum width of 1000px */
   width: auto !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#id_header{
    background-color: #1e1e1e;
    box-shadow: rgb(11, 12, 12);
}